header{
    background-color: #313243;
    margin: auto;
}

.ama-navbar{
    background-color: #c3c3c6;
    
}
footer{
    background-color:   #c3c3c6;
    height: 80px;
    margin: auto;
}
main{
    /* height:calc(100vh - 140px);  */
}
.container{
    margin: auto;
}


 h1{
    color:black;

} 




/* ------------------------- */

.ama-logo{
    width: 10%;
}


/* .cell {
    border: 1px solid black;
    text-align: center;
    
} */


